version: '3.8'
services:
  client:
    build: .
    container_name: client_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./:/app
      - /app/node_modules
    stdin_open: true
    tty: true